[project]
	description = Test
[access "refs/*"]
	owner = group user/Alin Dobra (dobralin)
[access "refs/for/refs/*"]
	read = group user/Alin Dobra (dobralin)
	push = group user/Alin Dobra (dobralin)
	label-Code-Review = -2..+2 group user/Alin Dobra (dobralin)
	label-Verified = -1..+1 group user/Alin Dobra (dobralin)
	rebase = group user/Alin Dobra (dobralin)
	removeReviewer = group user/Alin Dobra (dobralin)
	submit = group user/Alin Dobra (dobralin)
[access "refs/heads/*"]
	read = group user/Alin Dobra (dobralin)
	create = group user/Alin Dobra (dobralin)
	push = +force group user/Alin Dobra (dobralin)
	pushMerge = group user/Alin Dobra (dobralin)
[access "refs/tags/*"]
	push = +force group user/Alin Dobra (dobralin)
	pushTag = group user/Alin Dobra (dobralin)
	pushSignedTag = group user/Alin Dobra (dobralin)
